@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

/*
cor primária: #9D1200;
cor secundária: #88281B;
terça: #8F4339;
quarta: #5C3B37;
quinta: #332A29; 
*/


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Almarai', sans-serif;
}

header {
    background-color: #F5A300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 10%;
}

#logo-restaurante {
    height: 180px;
    max-width: 180px;
}

a {
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 2px 10px;
    
}

nav {
    text-align: center;
}

#lista-nav {
    display: inline-block;
    text-align: center;
    justify-content: end;
    list-style-type: none;
}

#lista-nav li{
    display: inline-block;
    width: fit-content;
    padding: 4px;
}

header nav button {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    background-color: green;
    border: none;
    border-radius: 3px;
    padding: 12px;
    margin: 4px;
    cursor: pointer;
}

/*-------Carrossel:-------*/

#carrossel-de-imagens {
    width: 100%;
    overflow: hidden;
}

#slides {
    width: 300%;
    height: 742;
    display: flex;
}

.slide {
    text-align: center;
    align-items: center;
}

.slide img {
    height: fit-content;
}

#slides input {
    display: none;
}

.imagem-carrossel {
    width: 100vw;
}

.manual-navigation {
    width: 100%;
    height: 15px;
    margin-top:-50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    position: relative;
}

.manual-btn {
    border: 2px solid #FFF;
    padding: 5px;
    width: 60px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: 0.7s;
    background-color: transparent;
}

#radio1:checked ~.first {
    margin-left: 0;
    transition: 1s;
}

#radio2:checked ~.first{
    margin-left: -33.333%;
    transition: 1s;
}

#radio3:checked ~.first{
    margin-left: -66.666%;
    transition: 1s;
}

.manual-btn:hover  {
    background-color: #FFF;
    border-radius: 10px;
}

/*-------Cardápio:-------*/

#cardapio {
    padding: 16px 5%;
    background-color: #F5A300;
}

#corpo-cardapio {
    display: flex;
    grid-template-columns: repeat(auto-fill, 300px);
}

.menu-para-mobile {
    width: 100%;
    text-align: center;

}

.menu-para-mobile button {
    font-size: 20pt;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-para-mobile ul{
    list-style-type: none;
}

.container-inline {
    display: flex;
    width: 100%;
}

.grade-cardapio {
    width: 100%;
    display: none;
    grid-template-columns: repeat(auto-fill, 280px);
}

#lista-lateral {
    margin: 16px;
    padding: 16px;
    background-color: #F5A300;
    max-width: 300px;
    height: 300px;
}

#lista-lateral h3, .menu-para-mobile ul li {
    cursor: pointer;
}

#lista-lateral h3:hover {
    text-decoration: underline;
}

.menu-para-mobile ul li:hover {
    text-decoration: underline;
}

.item-cardapio, #adicionador-de-itens {
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 380px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;

    margin: 16px;
    position: relative;
}

.container-imagem-prato {
    height: 230px;
    width: 230px;
}

.item-cardapio {
    justify-content: center;
}

.item-cardapio h3 {
    margin: 14px;
}

.foto-prato {
    position: absolute;
    height: 230px;
    width: 230px;
    overflow: hidden;

    margin-left: 10px;
}

.foto-prato img {
    margin-left: -15%;
    margin-top: 1px;
    height: 199px;
}

.mascara {
    position: absolute;
    height: 200px;
    width: 230px;
    margin-left: -105px;

}

.menu-aberto {
    display: grid;
}

@media screen and (max-width: 730px){
    #lista-lateral {
        display: none;
    }

    #seletor-de-pratos {
        justify-content: center;
    }
}

@media screen and (min-width: 731px) {

    .menu-para-mobile {
        display: none;
    }
}

/*-----Seção Quem somos:-----*/

#secao-quem-somos {
    margin: 22px 15%;
    display: flex;
    justify-content: center;
}

#secao-quem-somos img {
    width: min(610px, 80vw);
    height: fit-content;
}

#secao-quem-somos div {
    margin: 22px;
}

@media screen and (max-width: 1250px) {
    #secao-quem-somos {
        display: block;
        text-align: center;
        justify-content: center;
    }

    #secao-quem-somos img {
        margin-left: -35px;
    }
}

/*------Seção Localização:------*/

#secao-localizacao {
    background-color: #F5A300;
    display: flex;
    padding: 16px 15%;
    width: 100%;
    align-items: center;
    margin-left: -40;
    justify-content: center;
}

#secao-localizacao div {
    text-align: center;
    margin: 40px;

}

#secao-localizacao iframe {
    min-width: 450px;
    height: 400px;
}

@media screen and (max-width:730px) {
    #secao-localizacao {
        display: block;
    }

    #secao-localizacao iframe {
        min-width: none;
        width: 10px;
        max-width: 10px;
        margin-left: -68px;
    }
}

/*------Rodapé:-----*/

footer {
    background-color: #000000;
    color: white;
    font-weight: bolder;
    padding: 16px 10%;
    justify-content: center;

}

#footer-layout {
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 400px);
    text-align: start;
}

#footer-layout ul {
    list-style-type: none;
    margin: 22px;
}

.abaixo-footer li{
    margin: 8px;
    cursor: pointer;
}

.redes-sociais {
    font-size: 22pt;
    display: flex;
}

.redes-sociais li {
    margin: 8px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    #footer-layout {
        display: block;
    }

    footer {
        text-align: center;
    }
}